:root {
  // main body bg
  --body-bg: hsl(220, 8%, 23%);
  // the 2end sidebar for content links
  --sidebar-bg: hsl(223, 7%, 20%);
  // channels navigation bar
  --channel-nav-bg: hsl(216, 7%, 14%);

  --icons-content-sidebar: hsl(225, 8%, 10%);
  --900: hsl(321, 78%, 4%);
  --800: hsl(321, 78%, 10%);
  --700: hsl(321, 10%, 10%);
  // --800: #240046;
  // --700: #3c096c;
  --600: #5a189a;
  --500: #7b2cbf;
  --400: #9d4edd;
  --300: #c77dff;
  --200: #e0aaff;
}
