:root {
  // main body bg
  --body-bg: hsl(220, 8%, 23%);
  // the 2end sidebar for content links
  --sidebar-bg: hsl(223, 7%, 20%);
  // channels navigation bar
  --channel-nav-bg: hsl(216, 7%, 14%);

  --icons-content-sidebar: hsl(225, 8%, 10%);
}
