nav {
  //todo HTML architecture //
  /*
  <nav>
    <ul>
      <li>
        <a>
          <img>
          <div class="channel-name"> <span> </span> </div>
        </a>
      </li>
    </ul>
  </nav>
  */
  height: calc(100vh - 25px);
  width: 72px;
  padding-inline: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  // background-color: var(--channel-nav-bg);
  background-color: var(--900);

  ul {
    // outline: solid 1px rgb(72, 255, 0); ////

    li {
      width: 48px;
      height: 48px;
      list-style: none;
      margin-bottom: 10px;
      position: relative;

      // add before + after to a tag (channel name) beside the logo
      // general style for all
      a {
        // outline: solid 1px red; ////

        position: relative;

        .channel-name {
          position: relative;
          // position the name box at the right (left, top)
          transform: translate(150%, -200%);

          //? use visibility with hove instead of before and after
          visibility: hidden;
          //? you can also transition visibility
          transition: opacity 200ms ease-in-out;
          opacity: 0;

          span {
            border-radius: 5px;
            padding: 10px;
            background-color: var(--icons-content-sidebar);
            color: white;
            text-align: center;
          }
          // add a simple triangle to the left side of the box
          &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: -15px;
            border: solid 8px transparent;
            border-right-color: var(--icons-content-sidebar);
          }
        }

        &:hover .channel-name {
          visibility: visible;
          opacity: 1;
        }
      }
      //  //////////////////////////////////////////////  //
      //* channels logo hover state part2 (the left side white thing) *//
      // --------------------------------- //
      // there is three state
      // 1.not active(not open) + not in hover state  [state1]
      // 2.not active but (hover) only  [state2]
      // 3.(active) but not hover  [state3]

      // width is always 8px -4px left out
      // (hover) height 19px
      // (active) height 38px
      // --------------------------------- //
      //?? ↓↓ nav => ul => [li]
      &::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 5px;
        top: 50%;
        left: -16px;
        transform: translateY(-50%);
        transition: height 180ms ease-in-out;
      }

      &:hover {
        // outline: none; ////
        &::after {
          height: 18px;
        }
      }
    }
  }
}
// testing
/*
.active {
  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 38px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    top: 50%;
    left: -16px;
    transform: translateY(-50%);
    transition: height 180ms ease-in-out;
  }
}
*/
