aside {
  background-color: var(--sidebar-bg);
  height: 100vh;
  width: 230px;
  padding-inline: 12px;
  position: fixed;
  top: 0;
  left: 72px;
  z-index: -1;

  div {
    p:nth-child(3) {
      color: red;
    }
  }
}
